.botoes{
    border-radius: 35px;
    padding: 10px;
    border: 1px solid;
    color: #c0c0c0ea;
    background-color: #FFF;
    color:#000;
    border: 1px solid #c0c0c0ea;
    margin: 5px;
    cursor: pointer;
}

.caixa{
    margin-right: 600px;
    margin-top: 20px;
}

.botoes:hover{
    color: #FFF;
    border: 1px solid #13a1bd;
    color:#13a1bd;
}