.chaves{
    border-radius: 40px;
    padding: 8px;
    margin: 4px;
    margin-left: 10px;
    border: 1px solid;
    color: #c0c0c0ea;
    color:#000;
    background-color: #FFF;
    border: 1px solid #c0c0c0ea;
   
}
.chaves:hover{
    color: #FFF;
    color:#13a1bd;
    border: 1px solid #13a1bd;
}